.Xauthority

.bash_history
.bash_logout
.bash_profile

.cache/
.ssh/
.thumbnails/

.config/*
!.config/i3
!.config/nvim
!.config/polybar
!.config/termite
.config/nvim/.netrwhist

.local/share/*
!.local/share/nvim/

.local/share/nvim/swap/
.local/share/nvim/plugged/
!/.local/share/nvim/plugged/c.vim/

.local/share/nvim/shada/main.shada
.viminfo

code/
Downloads/
Pictures/


.vim/plugged/
.vimswap
.vimundo
.vimbackup
.vimviews
.vimscratch
