.Xauthority

.bash_history
.bash_logout
.bash_profile

.cache/
.ssh/
.thumbnails/

.config/*
!.config/i3
!.config/nvim

.local/share/*
!.local/share/nvim/

.local/share/nvim/shada/main.shada
.viminfo

code/
Downloads/
Pictures/

.local/share/nvim/swap/
.local/share/nvim/plugged/
