.*
*
!.config
.config/*
!.config/i3
!.config/nvim
!.config/polybar
!.config/termite
.config/nvim/.netrwhist

!.Xdefaults
!.Xmodmap
!.Xresources
!.bashrc
!.bash_profile
!.compton.config
!.gitignore
!.wallpaper.jpg
!.xinitrc

!.local
.local/*
!.local/bin

